#highlight {
    position: absolute;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.path {
    --dash-array: 6000;
    stroke-dasharray: var(--dash-array);
    stroke-dashoffset: 0;
    animation: dash .8s linear;
}

@keyframes dash {
    from {
        stroke-dashoffset: var(--dash-array);
    }

    to {
        stroke-dashoffset: 0;
    }
}