:root {
    --mockup-size: 20rem;
    --screen-thickness: 1rem;
    --screen-height: 16rem;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mockup {
    height: var(--mockup-size);
    width: var(--mockup-size);
    perspective: 800px;
    border: 1px solid black;
}

.mockup-part {
    position: absolute;
    transform-style: preserve-3d;
    aspect-ratio: 1;
}

.screen-part {
    background-color: hsl(39,
            100%,
            var(--lightness));
}

.screen-mockup {
    position: relative;
    transform-style: preserve-3d;
    aspect-ratio: 1;
    animation: rotate 20s linear infinite;
}

.screen {
    /* background-color: pink; */
    background: url(./SimplyComplex_0007.png);
    background-size: cover;
    width: 90%;
    height: calc(var(--screen-height)*0.8);
    left: 50%;
    top: 5%;
    transform: translate(-50%);
}

.screen-border {
    width: var(--mockup-size);
    height: var(--screen-height);
    --lightness: 66%;
}

.screen-side-left {
    right: 100%;
    width: var(--screen-thickness);
    height: var(--screen-height);
    transform-origin: right;
    transform: rotateY(-90deg);
    --lightness: 70%;
}

.screen-side-right {
    left: 100%;
    width: var(--screen-thickness);
    height: var(--screen-height);
    transform-origin: left;
    transform: rotateY(90deg);
    --lightness: 70%;
}

.screen-side-top {
    bottom: 100%;
    transform-origin: bottom;
    width: var(--mockup-size);
    height: var(--screen-thickness);
    transform: rotateX(90deg);
    --lightness: 74%;
}

.screen-side-bottom {
    top: var(--screen-height);
    transform-origin: top;
    width: var(--mockup-size);
    height: var(--screen-thickness);
    transform: rotateX(-90deg);
    --lightness: 74%;
}

.screen-back {
    bottom: calc(var(--screen-height)+var(--screen-thickness));
    width: var(--mockup-size);
    height: var(--screen-height);
    transform-origin: center 50% calc(var(--screen-thickness)*-0.5);
    transform: rotateX(180deg);
    --lightness: 78%;
}

.screen-holder {
    background-color: yellow;
}

.stand {
    background-color: orange;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotateY(360deg);
    }
}