* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: sans-serif;
    --spacing-xs: .5rem;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --border-radius-s: .5rem;
    --color-alabaster-0: #f5ebe0;
    --color-alabaster-light-50: #faf5f0;
    --color-pastel-gray-0: #d6ccc2;
    --color-pastel-gray-dark-20: #aba39b;
    --color-bone-0: #e3d5ca;
    --color-bone-dark-80: #2d2b28;
    color: var(--color-bone-dark-80);

}

h1,
h2 {
    width: max-content;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--spacing-m);
    width: 80%;
    margin: var(--spacing-xs) auto;
    background-color: var(--color-alabaster-light-50);
    padding: var(--spacing-m);
    border-radius: var(--border-radius-s);
}

button {
    border: none;
    padding: 1rem;
    background-color: var(--color-pastel-gray-0);
    border-radius: var(--border-radius-s);
}


button:hover {
    background-color: var(--color-pastel-gray-dark-20);
    cursor: pointer;
}

#title {
    padding: var(--spacing-s);
}

#settings-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-s);
    padding: var(--spacing-s);
}

.setting {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

#name-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    padding: var(--spacing-s);
}

#name-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
}

.name-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.name-item::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url('./images/copy.svg');
    background-size: cover;
    display: inline-block;
    margin: .1rem;
    background-position: center;
}

.name-item.copied::after {
    background-image: url('./images/copy-success.svg') !important;
}

#history li {
    list-style: none;
}

#history {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-s);
    gap: var(--spacing-s);
}

#history-entries {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.history-entry-name-list {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
}

summary {
    cursor: pointer;
}